@import './style/Variables.scss';
@import './style/Mixins.scss';

body {
  background-color: $light;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  height: 600px;
  background-color: aliceblue;
}

* {
  font-family: 'Roboto', sans-serif;
}